* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
}

.screen {
  color: white;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  height: 80px;
}

.calc-button {
  display: flex;
  flex-grow: 1;
  margin: 1px;
  justify-content: center;
  align-items: center;
  background-color: #d8d9db;
  color: black;
  height: 80px;
  width: 33%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button-orange {
  display: flex;
  flex-grow: 1;
  margin: 1px;
  justify-content: center;
  align-items: center;
  background-color: #df974c;
  color: black;
  height: 100px;
  width: 33%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.calc-button-orange:hover {
  background-color: #dfb07e;
}

.calc-button-orange:active {
  background-color: #dd8d37;
}

/* .calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.calc-button:last-child:active {
  background-color: #dd8d37;
} */

.calc-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button-row:last-child {
  padding-bottom: 0;
}

